.flex-container{
  display: flex;
  flex-direction: column;
}
 
.header {
    color: white;
    background-color:#1F2937;
    height: 300px;
    flex: 1;
  }
.body {
    background-color:white;
    font-size: 36px;
    font-style: #1f2937;
    height: 300px;
    flex: 1;
}
.quote {
  background-color:E5E7EB;
  font-size: 36px;
  font-style: ligh italic;
}